n8n_workflow.json
{
  "name": "Chat2Graph - Conversation to Knowledge Graph",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "conversation",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook - Receive Conversation",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [250, 300],
      "webhookId": "chat2graph-webhook"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8080/add_conversation",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ name: $json.name || 'conversation_' + Date.now(), content: $json.content || $json.message || $json.text, source_description: $json.source || 'Webhook' }) }}",
        "options": {}
      },
      "id": "add-to-graph",
      "name": "Add to Knowledge Graph",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}",
        "options": {}
      },
      "id": "respond",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [750, 300]
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */6 * * *"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Schedule - Every 6 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [250, 500],
      "disabled": true
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8080/stats",
        "options": {}
      },
      "id": "get-stats",
      "name": "Get Graph Stats",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [500, 500]
    }
  ],
  "connections": {
    "Webhook - Receive Conversation": {
      "main": [
        [
          {
            "node": "Add to Knowledge Graph",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add to Knowledge Graph": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule - Every 6 Hours": {
      "main": [
        [
          {
            "node": "Get Graph Stats",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateId": "chat2graph-workflow"
  }
}
